#root {
  margin: 0;
  /*margin: 0 auto;*/
  /*padding: 2rem;*/
  /*text-align: center;*/
  /*background-color: red;*/
}

.logo {
  height: 6em;
  padding: .6em;
  margin-right: 1em;
  will-change: filter;
  transition: filter 300ms;
}